server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: http://product-service:8080
              predicates:
                - Path=/products/**

            - id: search-service
              uri: http://search-service:8080
              predicates:
                - Path=/search/**

            - id: order-service
              uri: http://order-service:8080
              predicates:
                - Path=/orders/**

            - id: payment-service
              uri: http://payment-service:8080
              predicates:
                - Path=/payments/**

management:
  endpoints:
    web:
      exposure:
        include: "*"   # 전체 노출(운영에선 좁히는 걸 권장)
  endpoint:
    gateway:
      enabled: true
