apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-sql
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS orderDB;
    CREATE DATABASE IF NOT EXISTS paymentDB;
    CREATE DATABASE IF NOT EXISTS productDB;