apiVersion: v1
kind: Service
metadata:
  name: search-service
spec:
  ports:
    - port: 8080
  selector:
    app: search
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search

  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
        - name: search-service
          image: search-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080